{% extends 'layout.html' %}

{% block title %} О САЙТЕ {% endblock %}

{% block content %}
    <div id="container">
        <div id="container-inner">
            <div id="text-container">
                <h1>POSTERZ</h1>
                Сайт был разработан студентом второго курсу Гумманитарно-Технического Колледжа в г. Токмок.<br>
                Он также был разработан для проекта по предмету введение в веб-технологии. <br>
                Здесь вы сможете читать и публиковать статьи на любые темы и делиться ими. 
            </div>
            
        </div>
    </div>
{% endblock %}