{% extends 'layout.html' %}

{% block content %}
    {% from 'formhelpers.html' import render_field %}
    <div id="container">
        <div id="article-container">
            <h1 id="header-text">Добавление статьи</h1>
            <form method="POST" action="" id="article-form">
                <div id="article-form-group">
                    {{ render_field(form.cover, id="article-form-field") }}
                </div>
                <div id="article-form-group">
                    {{ render_field(form.title, id="article-form-field") }}
                </div>
                <div id="article-form-group">
                    {{ render_field(form.body, id="editor") }}
                </div>
                <p><input id="submit-button" type="submit" value="Опубликовать"></p>
            </form>
        </div>
    </div>
{% endblock %}