{% extends 'layout.html' %}

{% block content %}
    <div id="container">
        <div id="article-container">
            <h1 id="header-text">Добавление статьи</h1>
            <form method="POST" action="" id="article-form">
                <div id="article-form-group">
                  <label for="cover">URL картинки</label>
                  <input type="text" name="cover" id="article-form-field" required>
                </div>
                <div id="article-form-group">
                  <label for="title">Название</label>
                  <input type="text" name="title" id="article-form-field" required>
                </div>
                <div id="article-form-group">
                  <label for="body">Статья</label>
                  <textarea type="text" name="body" id="editor" required></textarea>
                </div>
                <p><input id="submit-button" type="submit" value="Опубликовать"></p>
            </form>
        </div>
    </div>
{% endblock %}