{% extends 'layout.html' %}

{% block title %}СТАТЬИ{% endblock %}

{% block content %}
    <div id="container">
        <h1 id="header-text">СТАТЬИ</h1>
        <!-- <ul id="list-group">
            {% for article in articles %}
                <a id="body-text" href="article/{{article.id}}"><li id="list-group-item">{{ article.title }}<br><small><b>Автор:</b> {{ article.author }}</small></li></a>
            {% endfor %}
        </ul> -->
        <div id="flex-container">
            {% for article in articles %}
            <a href="article/{{article.id}}">
            <div id="article">
                <img src="{{article.cover}}">
                <div id="article-info">
                    <h1 id="title">{{ article.title }}</h1>
                    <small>{{ article.author }}</small>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}