{% extends 'layout.html' %}

{% block content %}
    <div id="container">
        <h1 id="header-text-white">Добро пожаловать, <small>{{session.username}}</small></h1>
        <a id="add-button" href="/add_article">Добавить статью</a>

        <table id="table">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Дата публикации</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            
            {% for article in articles %}
                {% if session['username'] == article.author %}

                    <tr>
                        <td>{{article.id}}</td>
                        <td>{{article.title}}</td>
                        <td>{{article.author}}</td>
                        <td>{{article.create_date}}</td>
                        <td><a id="add-button" href="edit_article/{{article.id}}">Редактировать</a></td>
                        <td>
                            <form action="{{url_for('delete_article', id=article.id)}}" method="POST" id="delete-form">
                                <input type="hidden" name="_method" value="Удалить">
                                <input type="submit" value="Удалить" id="delete-button" onclick="deleteArticleWarning()">
                            </form>
                        </td> 
                        <td>
                            <button type="button" id="link-button"><a href="article/{{article.id}}">Открыть</a></button>
                        </td>
                    </tr>
                {%  endif %}
            {% endfor %}
        </table>
    </div>
        
{% endblock %}