<footer>
    <div id="social-media-container">
        <a href="https://instagram.com/akmatoff.exe" class="fab fa-instagram"></a>
        <a href="https://github.com/akmatoff/posterz" class="fab fa-github"></a>
        <a href="mailto:@azim.akmatov1@gmail.com" class="fas fa-envelope"></a>
    </div>
    <!-- <div id="logo"><a href="/">Posterz</a></div> -->
    <div id="footer-text-container">© Posterz, 2020. Все права защищены.</div>
    <div id="footer-navbar">
            <a href="/">ГЛАВНАЯ</a>
            <a href="/about">О САЙТЕ</a>
            <a href="/articles">СТАТЬИ</a>
    </div>
</footer>