<header>
  <div id="logo"><a href="/">Posterz</a></div>
  <div id="navbar">
    <a href="/#container">ГЛАВНАЯ</a>
    <a href="/#about-container">О САЙТЕ</a>
    <a href="/articles">СТАТЬИ</a>
    {% if session.logged_in %}
    <!-- <a href="/dashboard">МОИ СТАТЬИ</a> -->
    <!-- <a href="/logout">ВЫЙТИ</a> -->
    {% else %}
    <a href="/login">ВОЙТИ</a>
    <a href="/register">РЕГИСТРАЦИЯ</a>
    {% endif %}
  </div>

  <!-- For mobile devices -->
    <button id="sidebar-button" onclick="showSidebar()"><i class="fas fa-bars" id="sidebar-btn"></i></button>
    <div id="sidebar">
      {% if session.logged_in %}
      <div id="sidebar-profile-pic">
        <img src="{{url_for('static', filename='profile_pics/')}}/{{session.profile_pic}}">
      </div>
      <div id="sidebar-profile">
        <h1>{{session.username}}</h1>
        <small id="sidebar-small">{{session.email}}</small>
      </div>
      {% endif %}
      <a href="/">ГЛАВНАЯ</a>
      <a href="/#about-container">О САЙТЕ</a>
      <a href="/articles">СТАТЬИ</a>
      {% if session.logged_in %}
        <a href="/profile">МОЙ ПРОФИЛЬ</a>
        <a href="/dashboard">МОИ СТАТЬИ</a>
        <a href="/logout">ВЫЙТИ</a>
      {% else %}
        <a href="/login">ВОЙТИ</a>
        <a href="/register">РЕГИСТРАЦИЯ</a>
      {% endif %}
    </div>
    <div id="sidebar-closer"></div>

  {% if session.logged_in %}
  <div id="profile-dropdown">
    <div id="header-profile-pic">
      <img src="{{url_for('static', filename='profile_pics/')}}/{{session.profile_pic}}">
    </div>
    <div id="profile-dropdown-content">
      <div id="profile-dropdown-info">
        <a href="/profile">
        <img src="{{url_for('static', filename='profile_pics/')}}/{{session.profile_pic}}">
        </a>
        <div>
          <h1 id="profile-info-header">{{session.username}}</h1>
          <small>{{session.email}}</small>
        </div>
      </div>
      <a href="/profile">МОЙ ПРОФИЛЬ</a>
      <a href="/dashboard">МОИ СТАТЬИ</a>
      <a href="/logout">ВЫЙТИ</a>
    </div>
  </div>
  {% endif %}

  <div id="search-bar">
    <i class="fas fa-search"></i>
  </div>
</header>