{% extends 'layout.html' %}

{% block content %}
    <div id="container">
        
        <div id="home-container-inner">
            <h1 id="bg-header-text">POSTERZ</h1>
            <div id="bg-text-container">
                Nothing will work unless you do
            </div>
        </div>

    </div>

    <div id="about-container">
    <div id="about-container-inner">
        <h1>Posterz</h1>
        <p id="text-block">Добро пожаловать в Posterz! Хотите вести свой блог? Тогда вы по адресу! Вы сможете делиться своими мыслями и знаниями, написав свою статью на сайте.
            Для этого вам необходимо зарегистрироваться на сайте. После регистрации вы будете иметь доступ к редактору ваших статей. И тут открываются новые возможности.
        </p>
        
        <h1>О разработчике</h1>
        <p id="text-block">Сайт был разработан студентом второго курса Гумманитарно-Технического Колледжа в г. Токмок для проекта по предмету введение в веб-технологии Акматов Азим.
        </p>
    </div>
    </div>
{% endblock %}