<!DOCTYPE html>
<html lang="ru-RUS">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}POSTERZ{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="icon" href="../favicon.ico">
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'messages.html' %}
    {% block content %}
    {% endblock %}
    {% include 'footer.html' %}
    <script src="static/js/script.js"></script>
    <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <script>
      CKEDITOR.replace('editor')
      CKEDITOR.config.width = '85%';
      CKEDITOR.config.height = '600';
    </script>
  </body>
</html>