{% extends 'layout.html' %}

{% block title %}Логин{% endblock %}

{% block content %}
    <div id="container">

        <div id="container-inner">
            <div id="form-container">
                <h1 id="header-text">Авторизация</h1>
                <form method="POST" action="" id="form">
                    <div class="form-group">
                        <label id="label">Имя пользователя</label>
                        <input type="text" name="username" id="form-field" value="{{request.form.username}}" required>
                    </div>
                    <div class="form-group">
                        <label id="label">Пароль</label>
                        <input type="password" name="password" id="form-field" value="{{request.form.password}}" autocomplete="off" required>
                    </div>
                    <button type="submit" id="submit-button">Отправить</button>
                </form>
            </div>
            
        </div>
    </div>
{% endblock %}